
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Generals */

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

/* Utilities */

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.container-big{
    width: 80%;
    margin: auto;
}

.container-medium{
    width: 80%;
    margin: auto;
}

.text-align-right {
    text-align: right;
}


.float-right {
    float: right;
}

/* columns */

.col {
    float: left;
}

.col-20 {
    width:20%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}



/* buttons */

.btn {
    font-weight: normal;
}

.btn-small {
    font-size: 14px;
    padding: 5px 20px;
}

.btn-big {
   font-size: 14px;
   padding: 8px 28px;
}

.btn-blue {
    background-color: #0061FF;
    color: white;
    transition: background-color 0.5s;
}

.btn-blue:hover {
    background-color: #3381ff;
}

.btn-white {
    border: 1px solid black;
    background-color: white;
    color: black;
}

/* HEADER */

header {
    background-color: white;
    line-height: 80px;
    height: 80px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    /* position: fixed;
    top: 0;
    left: 0; */
}

header nav,ul,li {
    display: inline;
}

header nav ul {
    list-style-type: none;
}

header a,img {
    vertical-align: middle;
    margin: 0 15px;
    color: black;
}

/* JUMBOTRON */

.jumbotron {
    background-color: #B4D0E7;
    font-size: 14px;
    font-weight: 600;
}

.jumbotron h1 {
    padding: 70px 0 40px;
    /* TO DO +80 px padding-top quando riusciro a mettere l' header in fixed */
    font-size: 66px;
    font-weight: 800;
    /* TO DO: aggiustare font width e size? */
}

.jumbotron-text {
    line-height: 22px;
    padding-right: 9px;
    height: 400px;
}

.jumbotron-text p {
    padding-bottom: 30px;
}

.jumbotron-text a+div {
    margin: 10px 0 30px;
}

.jumbotron-text i {
    font-size: 42px;
}

.jumbotron-image {
    position: relative;
}
/* forse meglio come utilities? */

.jumbotron-image figure {
    position: absolute;
    top: 0;
    left: 0;
}

